[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
	[submodule "mariahgammon3.github.io"]
	  path = mariahgammon3.github.io
	  url = https://github.com/mariahgammon/mariahgammon3.github.io.git
